     <form 
action="{{path('app_post_delete', {'id' : post.id})}}" 
method="POST"
onsubmit="return confirm('Confirmez-vous la suppression du post : {{ post.title}} ?')"
> 

  <input type="hidden" 
          name="_token" 
          value= "{{csrf_token('delete' ~ post.id)}}"
          />
  <input type="submit" value="Supprimer"/>
    </form>