{% extends 'base.html.twig' %}

{% block body %}
<h1>Ajouter un post</h1>
{# dump('je suis dans ma vue create') #}

{# J'appelle mon formulaire dans ma vue create #}
{{form(formPost)}} 

{% endblock %}