{% extends 'base.html.twig' %}


{% block body %}

<div class="formContainer">
    <h1>Page de modification du post</h1>

    {{form(form)}}

    <button><a href="{{ path('app_post')}}">Retour posts</a></button>

</div>

{% endblock %}

